<!DOCTYPE html>

<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <%- include('../partials/header'); %>


    
    <div class="d-flex justify-content-start flex-wrap gap-3 m-5">
        <% productos.forEach(producto => { %>
            <div class="card" style="width: 18rem;">
                <% producto.images.forEach(imageUrl => { %>
                    <img src="<%= imageUrl %>" class="card-img-top" alt="...">
                <% }) %>
                <div class="card-body">
                    <h5 class="card-title"><%= producto.title %></h5>
                    <p class="card-text">$ <%= producto.price %></p>
                    <small class="card-text"><%= producto._id %></small>
                    <a href="#" class="btn btn-outline-primary"><i class="bi bi-bag"></i></a>
                </div>
            </div>
        <% }) %>
    </div>

    


    <%- include ('../partials/footer'); %>

    <script>
        new DataTable('#productos');
    </script>

</body>